/* Coolors Exported Palette - coolors.co/785964-82a7a6-000000-9ed0e6-b796ac */

/* HSL */
$color1: hsla(339%, 15%, 41%, 1);
$color2: hsla(178%, 17%, 58%, 1);
$color3: hsla(0%, 0%, 0%, 1);
$color4: hsla(198%, 59%, 76%, 1);
$color5: hsla(320%, 19%, 65%, 1);

/* RGB */
$color1: rgba(120, 89, 100, 1);
$color2: rgba(130, 167, 166, 1);
$color3: rgba(0, 0, 0, 1);
$color4: rgba(158, 208, 230, 1);
$color5: rgba(183, 150, 172, 1);